@import "tailwindcss";

@theme {
	/* FONT & Text */
	--font-body: "Quicksand", sans-serif;
	--font-heading: "Montserrat", sans-serif;

	--text-2xs: 0.8rem;
	--text-xs: 0.9rem;
	--text-sm: 1rem;
	--text-md: 1.05rem;
	--text-lg: 1.1rem;
	--text-xl: 1.15rem;
	--text-2xl: 1.2rem;
	--text-3xl: 1.35rem;
	--text-4xl: 1.5rem;

	--text-heading-xs: 1.125rem;
	--text-heading-sm: 1.25rem;
	--text-heading-md: 1.5rem;
	--text-heading-lg: 1.875rem;
	--text-heading-xl: 2.25rem;
	--text-heading-2xl: 3rem;
	--text-heading-3xl: 3.75rem;
	--text-heading-4xl: 4.5rem;
	--text-heading-5xl: 5rem;
	--text-heading-6xl: 6.5rem;

	/* Colors */
	--color-primary: #ae445a;
	--color-primary-hover: #9e384a;
	--color-primary-active: #cc6881;
	--color-primary-disabled: #f8ebef;

	--color-secondary: #f29345;
	--color-secondary-hover: #f29345;
	--color-secondary-active: #df5b17;
	--color-secondary-disabled: #fdedd7;

	--color-tertiary: #7472e2;
	--color-tertiary-hover: #6357d4;
	--color-tertiary-active: #8e92eb;
	--color-tertiary-disabled: #e3e8fc;

	--color-bg-dark: #1d1a39;
	--color-bg-medium: #3b3778;
	--color-bg-light: #443c97;

	--color-dark: #2a2c2c;
	--color-black: #2a2c2c;
	--color-darker-gray: #4d5151;
	--color-dark-gray: #6a706f;
	--color-gray: #d6d8d7;
	--color-light-gray: #d6d8d7;
	--color-dark-light: #f4f5f5;
	--color-light: #f9fafa;
	--color-white: #f9fafa;

	--color-error: #fe755f;

	/* Spacing */
	--spacing-2xs: 0.25rem;
	--spacing-xs: 0.5rem;
	--spacing-sm: 0.75rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-2xl: 3rem;
	--spacing-3xl: 4.5rem;
	--spacing-4xl: 6rem;
	--spacing-5xl: 8rem;
	--spacing-6xl: 9rem;

	/* Breakpoint */
	--breakpoint-xs: 20rem;
	--breakpoint-sm: 40rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 64rem;
	--breakpoint-xl: 80rem;
	--breakpoint-2xl: 96rem;
	--breakpoint-3xl: 120rem;

	--container-3xs: 16rem;
	--container-2xs: 18rem;
	--container-xs: 20rem;
	--container-sm: 24rem;
	--container-md: 28rem;
	--container-lg: 32rem;
	--container-xl: 36rem;
	--container-2xl: 42rem;
	--container-3xl: 48rem;
	--container-4xl: 56rem;
	--container-5xl: 64rem;
	--container-6xl: 72rem;
	--container-7xl: 80rem;

	/* Shadow */
	--shadow-2xs: 0 1px 2px rgba(42, 44, 44, 0.1);
	--shadow-xs: 0 2px 4px -1px rgba(42, 44, 44, 0.15);
	--shadow-sm: 0 4px 6px -1px rgba(42, 44, 44, 0.2);
	--shadow-md: 0 4px 8px -2px rgba(42, 44, 44, 0.25);
	--shadow-lg: 0 4px 10px -2px rgba(42, 44, 44, 0.275);
	--shadow-xl: 0 2px 12px -3px rgba(42, 44, 44, 0.3);
	--shadow-2xl: 0 1px 14px -3px rgba(42, 44, 44, 0.325);

	--radius-xs: 0.125rem;
	--radius-sm: 0.25rem;
	--radius-md: 0.375rem;
	--radius-lg: 0.5rem;
	--radius-xl: 0.75rem;
	--radius-2xl: 1rem;
	--radius-3xl: 1.5rem;
	--radius-4xl: 2rem;

	--blur-xs: 4px;
	--blur-sm: 8px;
	--blur-md: 12px;
	--blur-lg: 16px;
	--blur-xl: 24px;
	--blur-2xl: 40px;
	--blur-3xl: 64px;
}

html {
	font-family: var(--font-body);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-display: swap;
}

@layer base {
	body {
		font-family: var(--font-body);
		color: var(--color-dark);
		background: var(--color-light);
		cursor: default;
	}

	h1 {
		font-weight: 700;
		line-height: 1.1;
		letter-spacing: -0.02em;
	}

	h2 {
		font-weight: 700;
		line-height: 1.15;
		letter-spacing: -0.01em;
	}

	h3 {
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.03em;
	}

	h4 {
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: -0.03em;
	}

	h5 {
		font-weight: 600;
		line-height: 1.4;
		letter-spacing: -0.03em;
	}

	h6 {
		font-weight: 600;
		line-height: 1.5;
		letter-spacing: -0.03em;
	}

	p,
	a {
		line-height: 1.6;
		letter-spacing: -0.02em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-heading);
	}
}
